.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

hr {  /*somewhat of a html/css default for making a horizontal line*/
    display: block;
    height: 1px;
    border: 0;
    border-top: 10px solid #000;  /*thick (10) black (#000) line*/
    margin: 0.5em 0;
    padding: 0;
}

/*TODO: FIND OUT HOW TO MAKE AND PLACE VERTICAL LINE*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*for all the buttons below: 
  The first comment block can be used later to move the buttons around
    as we need.  I've commented them out for now for the sake of testing
    audio.
  The second comment block can be used to make th ebuttons appear more square
    (as we might need later to replicate chairs)*/

#frontButton {
  /*position: absolute;
  top: 220px;
  right: 50%;*/

  /*padding-top: 50px;*/
}

#rightButton {
  /*position: absolute;
  top: 420px;
  right: 200px;
  float: right;*/

  /*padding-right: 5%;*/
}

#leftButton {
  /*position: absolute;
  top: 420px;
  left: 200px;
  float: left;*/
  /*padding-left: 5%;*/
}

#backButton {
  /*position: absolute;
  top: 620px;
  right: 50%;*/
  /*padding-top: 5%;*/
}

#stopButton {
  /*position: absolute;
  top: 100px;
  right: 200px;*/
}