.E220 {
  text-align: center;
}

.rc-slider {
  margin-left: 5%;
}

#classroom {
  text-align: center;
  height:100vh;
  width:60vw;
  border: 5px solid;
}

#teacherDiv {
  width:100%;
}

/* ------- Row CSS ------- */

#firstRow {
  padding-top:5%;
  padding-bottom: 2%;
}

#secondRow {
  padding-bottom: 2%;
}

#thirdRow {
  padding-bottom: 2%;
}

#fourthRow {
  padding-bottom: 2%;
}

#fifthRow {
  padding-bottom: 2%;
}

/* ------ Seat CSS ------- */

#sixthRow {
  padding-bottom: 2%;
}

#firstSeat {
  height: 60px;
  width: 60px;
  /*margin-left: 15%;*/
}

#secondSeat {
  height: 60px;
  width: 60px;
  margin-left: 5%;
}

#thirdSeat {
  height: 60px;
  width: 60px;
  margin-left: 5%;
}

#fourthSeat {
  height: 60px;
  width: 60px;
  margin-left: 5%;
}

#fifthSeat {
  height: 60px;
  width: 60px;
  margin-left: 5%;
}
